* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: grey;
}

.ok {
    position: absolute;
    top:24%;
    left:50%;
    transform: translate(-50%, -50%);
}

.desk {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.face {
    position: absolute;
    top:90%;
    left:50%;
    transform: translate(-50%, -50%);
}

.ok path:nth-child(1) {
    stroke-dasharray: 110px;
    stroke-dashoffset: 110px;
    animation: anim 6s ease forwards;
}

.desk path:nth-child(1) {
    stroke-dasharray: 95px;
    stroke-dashoffset: 95px;
    animation: anim 6s ease forwards;
}

.desk path:nth-child(2) {
    stroke-dasharray: 95px;
    stroke-dashoffset: 95px;
    animation: anim 6s ease forwards;
}

.desk path:nth-child(3) {
    stroke-dasharray: 95px;
    stroke-dashoffset: 95px;
    animation: anim 6s ease forwards;
}
.desk > path:nth-child(4) {
    stroke-dasharray: 95px;
    stroke-dashoffset: 95px;
    animation: anim 6s ease forwards;
}

  /*Coup*/

  .face > path:nth-child(1),
  .face > path:nth-child(2) {
    stroke-dasharray: 140px;
    stroke-dashoffset: 140px;    
    fill: none;
    animation: fill-skin 5s ease-in-out forwards, 
                anim 6s ease-in-out forwards;
  }
  .face > path:nth-child(2) {
    animation: fill-skin 2s ease-in-out forwards, 
                anim 6s ease-in-out forwards;
  }

  .face > path:nth-child(3),
  .face > path:nth-child(4),
  .face > path:nth-child(5),
  .face > path:nth-child(6) {
    stroke-dasharray: 140px;
    stroke-dashoffset: 140px;    
    fill: none;
    animation: fill-hair 2s ease-in-out forwards, 
                anim 6s ease-in-out forwards;
  }
  .face > path:nth-child(8) {
    stroke-dasharray: 140px;
    stroke-dashoffset: 140px;    
    fill: black;
  
  }






  

@keyframes anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-red {
    0% {
        fill: transparent
    }
    100% {
        fill: darkred
    }
}
@keyframes fill-skin {
    0% {
        fill: transparent
    }
    100% {
        fill: #FFB9AC
    }
}
@keyframes fill-hair {
    0% {
        fill: transparent
    }
    100% {
        fill: black
    }
}