body {
  background-color: rgb(32, 32, 32);
}

.container {
  position: relative;
  margin: 0 auto;
}

.interrupteur,
.poster {
  cursor: crosshair;
}

.turntable {
  cursor: url("assets/img/electric-guitar.svg"), auto;
  position: absolute;
  top: -1.5rem;
}

.body-light {
  animation-duration: 1s;
  animation-name: clignoter;
  transition: none;
  background-color: beige;
}

.lamp {
  display: inline-block;
  top: 15rem;
  position: absolute;
  left: 10rem;
}

.interrupteur {
  background-color: transparent;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 64px;
  top: 119px;
}

.jaune {
  animation-duration: 1s;
  animation-name: clignoter;
  transition: none;
  fill: #FFC700;
}

.poster {
  top: 10rem;
  left: 20rem;
  transform: rotate(0.05turn);
}

.poster{
  position: absolute;
}

.objects {
  filter: grayscale(100%);
}

.light {
  filter: grayscale(0%);
  animation-duration: 1s;
  animation-name: grayscale;
  transition: none;
}

.poster-rotate {
  transform: rotate(0turn);
  transition: all 1s ease;
}

.desk {
  display: inline-block;
  position: relative;
  top: 20rem;
  left: 29rem;
}


.turntable > svg:nth-child(1) {
  position: relative;
  left: 2rem;

}

.turntable > svg:nth-child(2) {
  position: relative;
  top: -1.4rem;
  left: -8rem;
}

.move-vinyl {
  animation: vinyl 1s linear infinite;
}



.guy {
  position: absolute;
  top: -13rem;
  right: -10rem;
}


.head {
  position: absolute;
  left: 15px;
}

.move-head {
  animation: head .8s infinite;
  animation-timing-function: ease-in-out;
}




@keyframes clignoter {

  20% {
   fill:#faeec2;
   background-color: #f3f3c2;
  }
  40% { 
   fill:#ffdf6d;
   background-color: #c9c9a1;
  }
  60% {
   fill:#faeec2;
   background-color: #f3f3c2;
  }
  80% { 
   fill:#ffdf6d;
   background-color: #c9c9a1;
  }
}

@keyframes grayscale {
  20% {
   filter: grayscale(40%);
  }
  40% {
   filter: grayscale(60%);
  }
  60% {
   filter: grayscale(40%);
  }
  80% {
   filter: grayscale(60%);
  }
}

@keyframes head {
  0% {
    top: -4px;
  }
  50% {
    top: 5px;
  }
  100% {
    top: -4px;
  }
}

@keyframes vinyl { 
  25% { 
  transform:rotate(2deg); }
  50% { 
  transform:rotate(0deg);}
  75% { 
  transform:rotate(-2deg); }
  100% { 
  transform:rotate(0deg); 
  } 
}

@media (max-device-width : 320px) {
  svg {
    height: 50%;
    width: 50%;
  }

  .lamp {
    top: 2rem;
    left: 1rem;
  }

  .interrupteur {
    left: 1.6rem;
    top: 3.5rem;
  }

  .desk {
    top: 8rem;
    left: 3rem;
  }

  #turntable > svg:nth-child(1) {
    width: 35%;
    top: 0.3rem;
  }

  #vinyl {
    width: 35%;
    top: -0.4rem;
    left: -5rem;
  }
}