// Break points

$break-ul: 1600px;
$break-xl: 1200px;
$break-lg: 992px;
$break-md: 768px;
$break-sm: 576px;
$break-xs: 480px;

$black: #000000;
$grey-light: #CCCCCC;
$yellow: #FAEB68;
$orange: #FEB730;
$peach:#F8CFA1;
$blue:#74BEC1;
$pink:#F6CDD2;
$pink-dark:#EB4591;
$white: #FFFFFF;
