<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Nissan Now</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body {
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none
        }

        body,
        td {
            font-family: Arial, Helvetica, Geneva, sans-serif;
            font-size: 13px
        }

        .show {
            font-size: 0
        }

        ul {
            list-style-image: url('http://emailing-br.fr/nissan/nissan-now/210622/images/check.png');
            padding-left: 20px;
        }

        ul li {
            margin-bottom: 13px;
        }

        @media only screen and (max-width: 620px) {
            body {
                min-width: 320px
            }

            .w600,
            table[class=w600],
            td[class=w600],
            img[class=w600] {
                width: 300px !important
            }

            .img-fluid {
                max-width: 100% !important;
                width: auto;
                height: auto !important
            }

            .mwauto {
                width: auto !important
            }

            .mw15 {
                width: 15% !important
            }

            .mAuto {
                margin-left: auto !important;
                margin-right: auto !important
            }

            .mHidden {
                display: none !important
            }

            .mBlock,
            .mShow {
                display: block !important
            }

            .show {
                overflow: visible !important;
                float: none !important;
                display: block !important;
                line-height: 100% !important;
                max-height: none !important;
                width: auto !important;
                font-size: inherit
            }

            .noborder {
                border: none !important;
            }

            .nomargin {
                margin: 0 !important;
            }

            .alignLeft {
                text-align: left !important;
            }

            .alignCenter {
                text-align: center !important;
            }

            .mPadding {
                padding: 15px 15px !important;
            }

            .mPadding20 {
                padding: 20px !important;
            }

            .mXPaddingNone {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .mXPadding10 {
                padding-left: 10px !important;
                padding-right: 10px !important;
            }

            .mXPadding15 {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }

            .mPaddingB10 {
                padding-bottom: 10px !important;
            }

            .mPaddingB0 {
                padding-bottom: 0px !important;
            }

            .pb35 {
                padding-bottom: 35px !important;
            }

            .pb20 {
                padding-bottom: 20px !important;
            }

            .fs16 {
                font-size: 16px !important;
            }

            .br {
                display: block !important;
            }

            .mMarginB10 {
                margin-bottom: 10px !important;
            }

            .radius-top {
                border-top-right-radius: 15px !important;
                border-bottom-left-radius: 0 !important;
            }

            .radius-bottom {
                border-bottom-left-radius: 15px !important;
                border-top-right-radius: 0 !important;
            }

        }
    </style>
</head>

<body style="margin:0; padding:0; -webkit-text-size-adjust:none;color: #161615;">
    <table
        style="margin: 0;padding: 0;background-color:#f8f8f8;color: #161615;font-family: Arial, Helvetica, Geneva, sans-serif; font-size:13px;"
        width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td align="center">
                    <table style="margin: 0;padding: 0;" class="w600" width="600" cellspacing="0" cellpadding="0"
                        border="0">
                        <tbody class="w600">
                            <tr class="header">
                                <td class="w600" width="600" height="20"></td>
                            </tr>
                            <tr class="header">
                                <td class="w600" style="font-size:9px;color: #C6C6C6; padding-bottom: 10px;" width="600"
                                    height="20" align="center">
                                    Si vous ne visualisez pas ce message, 
                                    <a href="{{ mirror }}"
                                        style="text-decoration: underline; font-weight: bold; color: #C6C6C6;">cliquez sur le lien</a>.
                                </td>
                            </tr>

                            <tr class="one-img">
                                <td class="w600"
                                    style="padding: 0; text-align: center;background: #00A0DF;color: #ffffff;"
                                    width="600">
                                    <a target="_blank" href="#"
                                        style="text-decoration: none;color: #ffffff;font-size: 25px;">
                                        <img src="https://arthurgenestier.github.io/mails/img/header-new.jpg"
                                            alt="NISSAN NOW"
                                            style="width: 100%; max-width: 600px; max-height: 300px; margin: 0;display: block; border: 0;"
                                            class="img-fluid" width="600" height="300">
                                    </a>
                                </td>
                            </tr>





                            <tr class="content">

                                <td
                                    style="background-color: #ffffff;color: #161615;padding: 5px 30px 30px 30px;font-size: 13px; font-weight: normal;text-align: center;">

                                    <font style="font-weight: bold;font-size: 16px; text-transform: uppercase;">
                                        Cher {% if not contact.CIVILITE %}Madame/Monsieur{% else %}{{ contact.CIVILITE
                                        }}{% endif %} {{ contact.NOM|upper }},
                                    </font><br><br>
                                    <font style="font-weight: bold;">Nous sommes impatients de vous pr&eacute;senter l'&eacute;volution de Nissan NOW.
                                    </font><br><br>

                                    Tout commence avec notre programme de fid&eacute;lisation gratuit, notre application web qui vous simplifie la vie pour l'entretien de votre Nissan, mais bien plus encore. D&eacute;couvrez maintenant la plateforme gratuite Nissan NOW. L'inscription se fait en quelques clicks. Ne perdez pas une minute et profitez maintenant de tous vos avantages.
                                </td>


                            </tr>

                            <tr class="text-button" style="background-color: #ffffff;">
                                <td class="w600" style="background-color: #ffffff;" width="600">
                                    <table style="background-color: #ffffff;margin: 0 auto;width: 100%;" width="100%"
                                        cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody style="background-color: #FFFFFF;">
                                            <tr style="background-color: #ffffff;">
                                                <td class="mw15" style="height: 45px; width:30%; background: #ffffff;"
                                                    valign="middle"></td>

                                                <td class=""
                                                    style="vertical-align: middle;height: 45px;text-align: center;font-size: 13px;background: #00A0DF;color: #FFFFFF;border-radius: 15px;"
                                                    valign="middle">
                                                    <a href="https://www.nissan.nl/nissan-services/loyalty-offers.html?utm_source=sendinblue&amp;utm_campaign=Nissan Now_discover NL&amp;utm_medium=email"
                                                        target="_blank"
                                                        style="display:block;color: #FFFFFF;height: 45px; text-decoration: none;text-transform: uppercase;line-height: 40px;">
                                                        Inscrivez-vous gratuitement<font style="font-size: 20px;">&rsaquo;
                                                        </font>
                                                    </a>
                                                </td>

                                                <td class="mw15" style="height: 45px; width:30%; background: #ffffff;"
                                                    valign="middle"></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            <tr class="line-spacer">
                                <td class="w600" style="height: 30px;background-color: #FFFFFF;" width="600"></td>
                            </tr>

                            <tr class="image">
                                <td class="w600" style="padding: 0; text-align: center;color: #ffffff;" width="600">



                                    <img src="http://emailing-br.fr/nissan/nissan-now/220209/img/bed.jpg" alt=""
                                        style="width: 100%; max-width: 600px; max-height: 186px; margin: 0;display: block; border: 0;"
                                        class="img-fluid" width="600" height="186">



                                </td>
                            </tr>

                            <tr class="content">

                                <td class="mXPadding15"
                                    style="background-color: #ffffff;color: #161615;padding: 30px 60px 30px 60px;font-size: 13px; font-weight: normal;text-align: center;">

                                    <font style="font-weight: bold;font-size: 16px; text-transform: uppercase;">
                                        Votre loyaut&eacute; est r&eacute;compens&eacute;e</font>
                                    <br>
                                    <br>
                                    <font style="font-weight: bold;">Vous faites confiance &agrave; nos experts Nissan pour l'entretien de votre v&eacute;hicule, pour que votre Nissan roule parfaitement et conserve sa valeur de revente. Et vous avez enti&egrave;rement raison!</font>
                                    <br>
                                    <br>

                                    NMais vous m&eacute;ritez plus! Chaque visite &agrave; votre concessionnaire pour un entretien ou un achat de services ou d'accessoires, vous rapporte des points que vous pouvez &eacute;changer contre de nombreux avantages.
                                    <br>
                                    <br>
                                    D&egrave;s votre inscription, vous atteignez le niveau "bronze" et profitez imm&eacute;diatement de vos avantages. Ne perdez pas un instant!

                                </td>


                            </tr>



                            <tr class="text-button" style="background-color: #ffffff;">
                                <td class="w600" style="background-color: #ffffff;" width="600">
                                    <table style="background-color: #ffffff;margin: 0 auto;width: 100%;" width="100%"
                                        cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody style="background-color: #FFFFFF;">
                                            <tr style="background-color: #ffffff;">
                                                <td class="mw15" style="height: 45px; width:30%; background: #ffffff;"
                                                    valign="middle"></td>

                                                <td class=""
                                                    style="vertical-align: middle;height: 45px;text-align: center;font-size: 13px;background: #00A0DF;color: #FFFFFF;border-radius: 15px;"
                                                    valign="middle">
                                                    <a href="https://www.nissan.nl/nissan-services/loyalty-offers.html?utm_source=sendinblue&amp;utm_campaign=Nissan Now_discover NL&amp;utm_medium=email"
                                                        target="_blank"
                                                        style="display:block;color: #FFFFFF;height: 45px; text-decoration: none;text-transform: uppercase;line-height: 40px;">
                                                        Profitez de vos avantages<font style="font-size: 20px;">&rsaquo;
                                                        </font>
                                                    </a>
                                                </td>

                                                <td class="mw15" style="height: 45px; width:30%; background: #ffffff;"
                                                    valign="middle"></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>

                            <tr class="line-spacer">
                                <td class="w600" style="height: 30px;background-color: #FFFFFF;" width="600"></td>
                            </tr>


                            <tr class="image">
                                <td class="w600" style="padding: 0; text-align: center;color: #ffffff;" width="600">


                                    <img src="http://emailing-br.fr/nissan/nissan-now/220209/img/driver.jpg" alt=""
                                        style="width: 100%; max-width: 600px; max-height: 186px; margin: 0;display: block; border: 0;"
                                        class="img-fluid" width="600" height="186">


                                </td>
                            </tr>

                            <tr>
                                <td class="w600" style="background-color: #161615;" width="600">
                                    <table style="margin: 0 auto;width: 100%;" width="100%" cellspacing="0"
                                        cellpadding="0" border="0" align="center">
                                        <tbody style="background-color: #161615;">
                                            <tr>

                                                <td class="mHidden" style="width:60px; background: #161615;"
                                                    valign="middle"> </td>


                                                <td class="mHidden"
                                                    style="height: 146px; width:74px; background: #161615;"
                                                    valign="middle">

                                                    <img src="http://emailing-br.fr/nissan/nissan-now/220209/img/appli.jpg"
                                                        alt=""
                                                        style="background-color: #161615;border-radius: 5px;width: 100%; max-width: 600px; max-height: 186px; margin: 0;display: block; border: 0;"
                                                        class="img-fluid" width="74" height="146">

                                                </td>
                                                <td class="mXPadding10 alignCenter"
                                                    style="background-color: #161615;color: #ffffff;padding: 20px 60px 30px 20px;font-size: 13px; font-weight: normal;text-align: left;">

                                                    <font
                                                        style="font-weight: bold;font-size: 16px; text-transform: uppercase;">
                                                        Votre exp&eacute;rience est unique
                                                    </font>
                                                    <br>
                                                    <br>
                                                    <font>Devenez membre du programme Nissan NOW pour vous assurer que les entretiens soient effectu&eacute;s en temps voulu. Vous recevez des notifications et pourrez m&ecirc;me (tr&egrave;s bient&ocirc;t) r&eacute;server votre visite en ligne.</font>
                                                    <br>
                                                    <br>
                                                    <font style="font-weight: bold;">Roulez en toute s&eacute;r&eacute;nit&eacute;. Nous nous occupons du reste!</font>
                                                </td>



                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            <tr class="text-button">
                                <td class="w600" style="background-color: #161615;" width="600">
                                    <table style="margin: 0 auto;width: 100%;" width="100%;background-color: #161615;"
                                        cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody style="background-color: #161615;">
                                            <tr>
                                                <td class="mw15"
                                                    style="vertical-align: middle;height: 45px; width:30%; background: #161615;"
                                                    valign="middle"></td>

                                                <td style="height: 45px;text-align: center;font-size: 13px;background: #00A0DF;color: #FFFFFF;border-radius: 15px;"
                                                    valign="middle">
                                                    <a href="https://www.nissan.nl/nissan-services/loyalty-offers.html?utm_source=sendinblue&amp;utm_campaign=Nissan Now_discover NL&amp;utm_medium=email"
                                                        target="_blank"
                                                        style="display:block;color: #FFFFFF;height: 45px; text-decoration: none;text-transform: uppercase;line-height: 40px;">D&eacute;couvrez Nissan NOW <font style="font-size: 20px;">&rsaquo;
                                                        </font>
                                                    </a>
                                                </td>

                                                <td class="mw15" style="height: 45px; width:30%; background: #161615;"
                                                    valign="middle"></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            <tr class="line-spacer">
                                <td class="w600" style="height: 40px;background-color: #161615;" width="600"></td>
                            </tr>

                            <tr class="image">
                                <td class="w600" style="padding: 0; text-align: center;color: #ffffff;" width="600">



                                    <img src="http://emailing-br.fr/nissan/nissan-now/220209/img/tel.jpg" alt=""
                                        style="width: 100%; max-width: 600px; max-height: 186px; margin: 0;display: block; border: 0;"
                                        class="img-fluid" width="600" height="186">



                                </td>
                            </tr>

                            <tr class="content">

                                <td
                                    style="background-color: #ffffff;color: #161615;padding: 10px 10px 10px 10px;font-size: 13px; font-weight: normal;text-align: center;">

                                    <font style="font-weight: bold;font-size: 16px; text-transform: uppercase;">Nissan NOW, c'est aussi&hellip;</font>
                                </td>

                            </tr>

                            <tr>
                                <td class="w600" width="600">
                                    <table style="margin: 0 auto;width: 100%;" width="100%" cellspacing="0"
                                        cellpadding="0" border="0" align="center">
                                        <tbody style="background-color: #FFFFFF;">
                                            <tr>

                                                <td class="br alignCenter mXPadding10"
                                                    style="vertical-align: baseline;background-color: #ffffff;color: #161615;padding: 10px;padding-left: 50px;font-size: 13px; font-weight: normal;text-align: left;">

                                                    <font style="font-weight: bold;font-size: 13px;">Des offres personnalis&eacute;es, votre concessionnaires &agrave; port&eacute;e de souris, des r&eacute;ductions sur des week-ends ou des nuits d'h&ocirc;tel, et bien plus encore&hellip;</font>
                                                    <br>
                                                    <br>
                                                    <font style="font-size: 13px;">Pour &ecirc;tre s&ucirc;r de ne rien manquer, t&eacute;l&eacute;chargez l'application Nissan NOW sur votre smartphone.
                                                    </font>

                                                </td>

                                                <td class="mBlock mXPadding10"
                                                    style="padding: 10px;padding-right: 50px;">
                                                    <table>
                                                        <tbody>
                                                            <tr>

                                                                <td>
                                                                    <font
                                                                        style="border: solid 1px;border-radius: 20px;padding: 5px;padding-left: 9px;padding-right: 9px;">
                                                                        1</font>
                                                                </td>
                                                                <td
                                                                    style="padding-bottom: 10px;padding-left: 10px;background-color: #ffffff;color: #161615;font-size: 13px; font-weight: normal;text-align: left;">

                                                                    Surfez sur <a style="text-decoration: underline;"
                                                                        target="_blank"
                                                                        href="https://www.nissan.be" target="_blank">nissannow.be</a>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <font
                                                                        style="border: solid 1px;border-radius: 20px;padding: 5px;padding-left: 9px;padding-right: 9px;">
                                                                        2</font>
                                                                </td>
                                                                <td style="padding-bottom: 10px;padding-left: 10px;">
                                                                    <font style="font-size: 13px; font-weight: bold;">
                                                                        Cliquez sur le pop-up </font>
                                                                    <font style="font-size: 13px;">"t&eacute;l&eacute;charger Nissan NOW"</font>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="padding-bottom: 35px;"
                                                                    style="vertical-align: middle;padding-bottom: 45px;">
                                                                    <font
                                                                        style="border: solid 1px;border-radius: 20px;padding: 5px;padding-left: 9px;padding-right: 9px;">
                                                                        3</font>
                                                                </td>
                                                                <td class="pb20"
                                                                    style="padding-bottom: 10px;padding-left: 10px;">
                                                                    <font style="font-size: 13px;">Vous avez maintenant acc&egrave;s &agrave; Nissan NOW &agrave; partir de </font>
                                                                    <font style="font-size: 13px; font-weight: bold;">
                                                                        l'&eacute;cran d'accueil de votre smartphone!</font>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>

                            <tr class="bulle">
                                <td class="w600 mXPaddingNone " style="padding: 15px;" width="600">
                                    <table class="mBlock" style="margin: 0 auto;width: 100%;" width="100%"
                                        cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody class="mBlock" style="background-color: #f8f8f8;">
                                            <tr class="mBlock">


                                                <td class="mXPaddingNone mBlock mwauto alignCenter radius-top mPaddingB0"
                                                    style="vertical-align: top;width: 50%;font-size: 13px;padding: 25px;padding-left: 70px;border-radius: 15px;border-top-right-radius: 0;border-bottom-right-radius: 0; background-color: #FFFFFF;color: #161615;"
                                                    valign="middle">
                                                    <font style="font-weight: bold;">{% if not contact.CIVILITE
                                                        %}Madame/Monsieur{% else %}{{ contact.CIVILITE }}{% endif %} {{
                                                        contact.NOM }}
                                                    </font>
                                                    <br>
                                                    <br>
                                                    <font style="font-weight: bold;">Num&eacute;ro de chassis</font>
                                                    <br>
                                                    {{ contact.VIN }}
                                                </td>

                                                <td class="mXPaddingNone mBlock mwauto alignCenter radius-bottom"
                                                    style="width: 50%;font-size: 13px;padding: 25px;padding-left: 50px;border-radius: 15px;border-top-left-radius: 0;border-bottom-left-radius: 0; background-color: #FFFFFF;color: #161615;"
                                                    valign="middle">
                                                    <font style="font-weight: bold;">
                                                        {{ contact.NIS_DEALER_NAME }}</font>
                                                    <br>
                                                    {{ contact.NIS_DEALER_ADRESS }}<br>
                                                    {{ contact.POST_CODE_VILLE }}<br>
                                                    {{ contact.NIS_DEALER_TEL }}
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>






                            <tr class="footer">
                                <td class="w600"
                                    style="font-size: 10px;color: #C6C6C6;padding: 30px 0;text-align: center;"
                                    width="600">

                                    22022 Nissan, tous droits r&eacute;serv&eacute;s. Conception: Highco Mindoza. Photos: www.gettyimages.fr
                                    
                                    <br>
                                    <br><a href="{{ unsubscribe }}"
                                        style="text-decoration: underline; font-weight: bold; color: #C6C6C6;">Se d&eacute;sinscrire</a>

                                </td>
                            </tr>


                            <tr class="line-spacer">
                                <td class="w600" style="height: 10px;background-color: transparent;" width="600"></td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>


</body>

</html>