// Break points

$break-ul: 1600px;
$break-xl: 1200px;
$break-lg: 992px;
$break-md: 768px;
$break-sm: 576px;
$break-xs: 480px;

$black: #1D1D1B;
$grey-light: #F2F2F2;
$grey-blue: #929EA0;
$yellow: #FAEB68;
$orange: #FEB730;
$peach:#F8CFA1;
$blue:#74BEC1;
$blue2:#19B3D0;
$pink:#F6CDD2;
$pink-dark:#EB4591;
$white: #FFFFFF;