// Fonts
@font-face {
    font-family: "AmsiPro-Ultra";
    src: url("./../fonts/AmsiPro-Ultra.ttf") format("truetype");
}
@font-face {
    font-family: "AmsiProCondensed-Bold";
    src: url("./../fonts/AmsiProCondensed-Bold.ttf") format("truetype");
}
