// Break points

$break-ul: 1400px;
$break-xl: 1200px;
$break-lg: 992px;
$break-md: 768px;
$break-sm: 576px;
$break-xs: 480px;


$blue:#8AD9DD;
$blue2:#009697;
$blue3:#28ACAD;
$blue4:#46B9BF;
$blue5: #6692D8;
$blue6: #D7FCF6;
$green:#006A4E;
$green2:#118383;
$green3:#005D5D;
$pink:#FA5061;
$yellow:#FFF5CC;
$purple:#270E50;

$black: #000000;
$grey-light: #F2F2F2;
$grey-blue: #929EA0;
$orange: #FEB730;
$peach:#F8CFA1;


$pink-dark:#EB4591;
$white: #FFFFFF;