@font-face {
  font-family: "NouvelR";
  src: url("/assets/fonts/NouvelR-Variable.woff2") format("woff2"), url("/assets/fonts/NouvelR-Variable.woff") format("woff2"), url("/assets/fonts/NouvelR-Variable.ttf") format("ttf");
}
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "NouvelR";
  background-color: #FFFFFF;
  color: #000000;
}

h1,
.like-h1 {
  font-size: 4.6rem;
  text-transform: lowercase;
}

h2,
.like-h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

p {
  font-size: 1.6rem;
}

ul li p {
  vertical-align: top;
  display: inline-block;
}

.bg-black {
  background: #000000 !important;
}

.bg-yellow {
  background: #FAEB68 !important;
}

.bg-peach {
  background: #F8CFA1;
}

.bg-blue {
  background: #74BEC1 !important;
}

.bg-blue2 {
  background: #19B3D0;
}

.bg-pink {
  background: #F6CDD2;
}

.bg-pink-dark {
  background: #EB4591;
}

.bg-orange {
  background: #FEB730;
}

.bg-grey-blue {
  background: #929EA0;
}

.bg-grey-light {
  background: #CCCCCC !important;
}

.btn {
  border-radius: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.btn-white {
  background: #FFFFFF;
}
.btn-white:hover, .btn-white:focus {
  background: #000000;
  color: #FFFFFF;
}

.btn-black {
  border: none;
  background: #000000;
  color: #FFFFFF;
}
.btn-black:hover, .btn-black:focus {
  background: #FFFFFF;
  color: #000000;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.navbar img {
  max-height: 4rem;
}
.navbar .navbar-nav {
  margin-top: 1.8rem;
}
.navbar .navbar-nav .nav-link {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:hover {
  color: #CCCCCC;
}
.navbar .navbar-nav .disabled {
  color: #CCCCCC;
}
.navbar .navbar-nav .dropdown .dropdown-menu {
  padding: 0;
}
.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  text-transform: uppercase;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.home,
.objectifs,
.media,
.renew,
.identite,
.apprvo,
.restitution {
  padding-top: 7.625rem;
}

.hero-section {
  background-size: cover;
  background-position: center center;
}

.home .hero-section,
.identite .hero-section {
  background-image: url(/assets/img/bg-home-2.jpg);
}

.carousel .carousel-inner .carousel-caption {
  bottom: -30rem;
}

.home .parallax {
  background-image: url(/assets/img/bg-home.jpg);
}
.home .home-header .container {
  height: 50rem;
}
.home .home-header .container .content {
  padding: 5%;
}
.home .carousel .carousel-inner {
  padding-bottom: 30rem;
}

.objectifs .caption {
  font-size: 2.1rem;
  font-weight: bold;
}

.media .calendrier {
  position: relative;
}
.media .calendrier::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19.75px 0 19.75px 9px;
  border-color: transparent transparent transparent #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
}
.media .calendrier::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19.75px 0 19.75px 9px;
  border-color: transparent transparent transparent #000000;
  position: absolute;
  top: 0;
  left: 100%;
}
.media .calendrier p {
  margin: 0;
  font-size: 1.3rem;
}
.media .calendrier h2 {
  margin: 0;
}
.media .calendrier.bg-yellow, .media .calendrier.bg-blue, .media .calendrier.bg-pink, .media .calendrier.bg-peach {
  margin-right: 15px;
}
.media .calendrier.bg-yellow::after, .media .calendrier.bg-blue::after, .media .calendrier.bg-pink::after, .media .calendrier.bg-peach::after {
  content: "";
  border-width: 23.2px 0 23.2px 15px;
}
.media .calendrier.bg-yellow::before, .media .calendrier.bg-blue::before, .media .calendrier.bg-pink::before, .media .calendrier.bg-peach::before {
  content: "";
  border-width: 23.2px 0 23.2px 15px;
}
.media .calendrier.bg-yellow::before {
  content: "";
  border-color: transparent transparent transparent #FAEB68;
}
.media .calendrier.bg-peach::before {
  content: "";
  border-color: transparent transparent transparent #F8CFA1;
}
.media .calendrier.bg-blue::before {
  content: "";
  border-color: transparent transparent transparent #74BEC1;
}
.media .calendrier.bg-pink::before {
  content: "";
  border-color: transparent transparent transparent #F6CDD2;
}
.media .calendrier .mini-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.5px 0 2.5px 6px;
  border-color: transparent transparent transparent #FFFFFF;
}

.renew .hero-section {
  background-image: url(/assets/img/photo-refont.jpg);
  min-height: 24.5rem;
}
.renew .table {
  font-size: 1.6rem;
  color: #000000;
}
.renew .table h2 {
  font-size: 3.2rem;
}
.renew .table table {
  width: 100%;
  border-collapse: collapse;
}
.renew .table th {
  text-transform: lowercase;
  background: #000000;
  color: #FFFFFF;
  text-align: center;
  border: solid 0.1rem #000000;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.renew .table th:first-child {
  background: transparent;
  border: 0;
}
.renew .table td {
  border: solid 0.1rem #000000;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.renew .table td:first-child {
  text-align: left;
  padding-left: 2rem;
}

.identite {
  list-style: url("/assets/img/icon-check.svg");
}
.identite .hero-section .content h2 {
  font-size: 4rem;
  width: 60%;
}
.identite .hero-section .content ul {
  padding-left: 5rem;
}
.identite .chrono p {
  margin: 0;
  font-size: 3.2rem;
}
.identite .chrono .date {
  width: 10%;
  text-align: center;
  background: #000000;
  color: #FFFFFF;
  padding: 7% 0;
}
.identite .chrono div.d-flex:nth-child(1) > .date:nth-child(2) {
  padding: 20% 0;
}
.identite .chrono div.d-flex:nth-child(3) > .date:nth-child(2) {
  padding: 15% 0;
}
.identite .chrono div.d-flex:nth-child(9) > .date:nth-child(2) {
  padding: 9% 0;
}
.identite .chrono .photo,
.identite .chrono .description {
  width: 45%;
}
.identite .chrono .description {
  border: solid black;
  padding: 2rem 3rem;
  border-left: 0;
  position: relative;
}
.identite .chrono .description.droite::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #000000;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.identite .chrono .description.gauche {
  border-left: solid #000000;
  border-right: 0;
}
.identite .chrono .description.gauche::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #000000 transparent transparent;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.identite .bg-black h3 {
  font-size: 3.2rem;
}
.identite table {
  border-collapse: unset;
}
.identite table tr {
  vertical-align: middle;
}
.identite table tr:first-of-type th {
  padding: 3rem;
  background-size: cover;
  background-position: center bottom;
}
.identite table tr:first-of-type th:nth-child(2) {
  background-image: url(/assets/img/fond-noir-tableau.png);
}
.identite table tr:first-of-type th:nth-child(3) {
  background-image: url(/assets/img/fond-blan-tableau.png);
}
.identite table tr:first-of-type th:nth-child(4) {
  background-image: url(/assets/img/fond-bleu-tableau.png);
}
.identite table tr:first-of-type th:nth-child(5) {
  background-image: url(/assets/img/fond-jaune-tableau.png);
}
.identite table tr img {
  height: 10rem;
}
.identite table tr td {
  text-align: center;
  padding: 4rem;
  width: 20%;
  border: 0;
}
.identite table tr td p {
  font-size: 1.8rem;
  margin: 0;
}
.identite table tr td:nth-child(1) {
  text-align: left;
  text-transform: uppercase;
}
.identite table tr td:nth-child(3) {
  border: solid #000000 0.1rem;
}
.identite table tr th {
  width: 20%;
  border: 0;
  text-align: center;
}
.identite table tr th p {
  font-size: 1.8rem;
}

.apprvo {
  list-style: url("/assets/img/icon-check-black.svg");
}
.apprvo .carousel .carousel-caption {
  color: #000000;
}
.apprvo .carousel .carousel-indicators [data-bs-target] {
  width: 2rem;
  height: 2rem;
}
.apprvo .carousel .carousel-indicators button {
  border: solid 0.1rem #000000;
  border-radius: 2rem;
}
.apprvo .carousel .carousel-indicators button.active {
  background: #000000;
}

.restitution .cross {
  list-style: url("/assets/img/icon-cross.svg");
}
.restitution .check {
  list-style: url("/assets/img/icon-check-black.svg");
}
.restitution .second-section img {
  width: 10rem;
}

footer {
  font-size: 1.6rem;
  border-top: #FFFFFF solid;
}
footer a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}
footer a:focus, footer a:hover {
  color: #CCCCCC;
}

@media (min-width: 992px) {
  h1,
.like-h1 {
    font-size: 5.8rem;
    width: 45%;
  }

  .mr-15 {
    margin-right: 15%;
  }

  .navbar .navbar-nav .dropdown .dropdown-menu {
    top: 4.3rem;
    min-width: 100%;
    border: 0;
    border-radius: 0;
    margin-top: 0;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu li {
    border-bottom: solid #CCCCCC 0.1rem;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu li:last-child {
    border-bottom: 0;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu li .dropdown-item {
    background-color: #FFFFFF !important;
    color: #000000 !important;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu li .dropdown-item:focus, .navbar .navbar-nav .dropdown .dropdown-menu li .dropdown-item:hover {
    background-color: #CCCCCC !important;
  }

  .parallax {
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .home,
.objectifs {
    padding-top: 0;
  }

  .carousel .carousel-inner {
    padding: 15rem;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption {
    right: 0;
    left: 50%;
    bottom: 25%;
  }

  .home .home-header {
    height: 100vh;
  }
  .home .home-header .container {
    padding-top: 10%;
  }
  .home .home-header .container .content {
    width: 60%;
  }
  .home .first-section img {
    max-width: 60rem;
  }
  .home .second-section .content {
    width: 40%;
    padding-top: 15rem !important;
    padding-bottom: 15rem !important;
  }
  .home .third-section h2 {
    width: 50%;
  }
  .home .third-section .carousel .carousel-inner .carousel-item img {
    width: 50% !important;
  }

  .objectifs .content p {
    width: 33%;
  }

  .media .calendrier {
    margin-right: 9px;
  }

  .apprvo .carousel .carousel-inner {
    padding: 0;
  }

  .restitution .second-section img {
    width: 16rem;
  }
}/*# sourceMappingURL=main.css.map */