@import 'Utils/fonts';
@import 'Utils/vars';

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "NouvelR";
    background-color: $white;
    color: $black;
}

h1,
h2,
h3,
.like-h1,
.like-h2 {
    //font-weight: bold;
}

h1,
.like-h1 {
    font-size: 4.6rem;
    text-transform: lowercase;
}

h2,
.like-h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

p {
    font-size: 1.6rem;
}

.bg-black {
    background: $black !important;
}
.bg-yellow {
    background: $yellow !important;
}
.bg-peach {
    background: $peach;
}
.bg-blue {
    background: $blue !important;
}
.bg-blue2 {
    background: $blue2;
}
.bg-pink {
    background: $pink;
}
.bg-pink-dark {
    background: $pink-dark;
}
.bg-orange {
    background: $orange;
}
.bg-grey-blue {
    background: $grey-blue;
}
.bg-grey-light {
    background: $grey-light !important;
}

.btn {
    border-radius: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.btn-white {
    background: $white;
    &:hover,
    &:focus {
        background: $black;
        color: $white;
    }
}
.btn-black{
    border: none;
    background: $black;
    color: $white;
    &:hover,
    &:focus {        
        background: $white;
        color: $black;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
    }
}

.navbar {
    img {
        max-height: 4rem;
    }
    .navbar-nav {
        margin-top: 1.8rem;
        .nav-link {
            color: $white;
            text-transform: uppercase;
            font-size: 1.2rem;
            //font-weight: bold;
            &:focus,
            &:hover {
                color: $grey-light;
            }
        }
        .disabled {
            color: $grey-light;
        }
        .dropdown {
            .dropdown-menu {
                padding: 0;
                .dropdown-item {
                    text-transform: uppercase;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }
            }
        }

    }
}
.home,
.objectifs,
.media,
.renew,
.identite {
    padding-top: 7.625rem;
}
.hero-section {
    background-size: cover;
    background-position: center center;
}
.home .hero-section,
.identite .hero-section {
    background-image: url(/assets/img/bg-home-2.jpg);
}

.home {
    .parallax {
        background-image: url(/assets/img/bg-home.jpg);
    }
    .home-header {
        .container {
            height: 50rem;
            .content {
                padding: 5%;

            }
        }
    }


    .third-section {
        .carousel {
            .carousel-inner {
                padding-bottom: 30rem;
                .carousel-caption {
                    bottom: -30rem;
                }
            }
        }
    }
}

.objectifs {
    .caption {
        font-size: 2.1rem;
        font-weight: bold;
    }
}

.media {
    .calendrier {
        position: relative;
        &::after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 19.75px 0 19.75px 9px;
            border-color: transparent transparent transparent $white;
            position: absolute;
            top: 0;
            left: 0;
        }
        &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 19.75px 0 19.75px 9px;
            border-color: transparent transparent transparent $black;
            position: absolute;
            top: 0;
            left: 100%;
        }
        p {
            margin: 0;
            font-size: 1.3rem;
            // font-weight: bold;
        }
        h2 {
            margin: 0;
        }

        &.bg-yellow,
        &.bg-blue,
        &.bg-pink,
        &.bg-peach {
            margin-right: 15px;
            &::after {
                content: '';
                border-width: 23.2px 0 23.2px 15px;
            }
                &::before {
                    content: '';
                    border-width: 23.2px 0 23.2px 15px;
                }
        }
        &.bg-yellow {
            &::before {
                content: '';
                border-color: transparent transparent transparent $yellow;
            }
        }
        &.bg-peach {
            &::before {
                content: '';
                border-color: transparent transparent transparent $peach;
            }
        }
        &.bg-blue {
            &::before {
                content: '';
                border-color: transparent transparent transparent $blue;
            }
        }
        &.bg-pink {
            &::before {
                content: '';
                border-color: transparent transparent transparent $pink;
            }
        }
        .mini-triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 2.5px 0 2.5px 6px;
            border-color: transparent transparent transparent $white;
        }
    }
}

.renew {
    .hero-section {
        background-image: url(/assets/img/photo-refont.jpg);
        min-height: 24.5rem;
    }
    .table {
        font-size: 1.6rem;
        color: $black;
        h2 {
            font-size: 3.2rem;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            text-transform: lowercase;
            background: $black;
            color:$white;
            text-align: center;
            border: solid 0.1rem $black;
            &:first-child {
                background: transparent;
                border: 0;
            }
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        td {
            border: solid 0.1rem $black;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-align: center;
            &:first-child {
                text-align: left;
                padding-left: 2rem;
            }
        }
    }
}

.identite {
    list-style: url('/assets/img/icon-check.svg');
    ul {
        li {
             p {
                vertical-align: top;
                display: inline-block;
             }
        }
    }
    .hero-section {
        .content {
            h2 {
                font-size: 4rem;
                width: 60%;
            }
            ul {
                padding-left: 5rem;
            }
        }
    }
    .chrono {
        p {
            margin: 0;
            font-size: 3.2rem;
        }
        .date {
            width: 10%;
            text-align: center;
            background:$black;
            color:$white;
            padding: 7% 0;

        }
        div.d-flex:nth-child(1) > .date:nth-child(2) {
            padding: 20% 0;
        }
        div.d-flex:nth-child(3) > .date:nth-child(2) {
            padding: 15% 0;
        }
        div.d-flex:nth-child(9) > .date:nth-child(2) {
            padding: 9% 0;
        }
  
        .photo,
        .description {
            width: 45%;
        }
        .description {
            border: solid black;
            padding: 2rem 3rem;
            border-left: 0;
            position: relative;
            &.droite {
                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 0 10px 10px;
                    border-color: transparent transparent transparent $black;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }
            }
            &.gauche {
                border-left: solid $black;
                border-right: 0;
                &::before {
                    content: '';
                    position: absolute;
    
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent $black transparent transparent;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                }
            }
        }

    }
    .bg-black {
        h3 {
            font-size: 3.2rem;
        }
    }
    table {
        border-collapse: unset;

        tr {
            vertical-align: middle;
            &:first-of-type {
                th {
                    padding: 3rem;
                    background-size: cover;
                    background-position: center bottom;
                    &:nth-child(2) {
                        background-image: url(/assets/img/fond-noir-tableau.png);
                    }
                    &:nth-child(3) {
                        background-image: url(/assets/img/fond-blan-tableau.png);
                    }
                    &:nth-child(4) {
                        background-image: url(/assets/img/fond-bleu-tableau.png);
                    }
                    &:nth-child(5) {
                        background-image: url(/assets/img/fond-jaune-tableau.png);
                    }

                }
            }
            img {
                height: 10rem;
            }
            td {
                text-align: center;
                padding: 4rem;
                width: 20%;
                border: 0;
                p {
                    font-size: 1.8rem;
                    margin: 0;
                }
                &:nth-child(1) {
                    text-align: left;
                    text-transform: uppercase;
                }
                &:nth-child(3) {
                    border: solid $black 0.1rem;
                }
            }
            th {
                width: 20%;
                border: 0;
                text-align: center;
                p {

                    font-size: 1.8rem;
                }
            }
        }
    }
}

footer {
    font-size: 1.6rem;
    border-top: $white solid;
    a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        &:focus,
            &:hover {
                color: $grey-light;
            }
    }
}







@media (min-width: $break-lg) {
    h1,
    .like-h1 {
    font-size: 5.8rem;
    }

    .mr-15 {
        margin-right: 15%;
    }
    .navbar {
        .navbar-nav {
            .dropdown {
                .dropdown-menu {
                    top: 4.3rem;
                    min-width: 100%;
                    border: 0;
                    border-radius: 0;
                    margin-top: 0;
                    li {
                        border-bottom: solid $grey-light 0.1rem;
                        &:last-child {
                            border-bottom: 0;
                        }
                        .dropdown-item {
                            background-color:$white !important;
                            color: $black !important;
                            &:focus,
                            &:hover {
                                background-color: $grey-light !important;
                            }
                            //font-weight: bold;
                        }
                    }
                }
            }
    
        }
    }
    .parallax {
        min-height: 100vh; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home,
    .objectifs {
        padding-top: 0;
    }
    .home {
        .home-header {
            height: 100vh;

            .container {
                padding-top: 10%;
                .content {
                    width: 60%;
                }
            }
        }
        .first-section {
            img {
                max-width: 60rem;
            }
        }

        .second-section {
            .content {
                width: 40%;
                padding-top: 15rem !important;
                padding-bottom: 15rem !important;
            }
        }

        .third-section {
            h2 {
                width: 50%;
            }
            .carousel {
                .carousel-inner {
                    padding: 15rem;
                    .carousel-item {
                        img {
                            width: 50% !important;
                        }
                        .carousel-caption {
                            right: 0;
                            left: 50%;
                            bottom: 25%;
                        }
                    }
                }
            }
        }

    }
    .objectifs {
        .content {
            p {
                width: 33%;
            }
        }
    }
    .media{
        .calendrier {
            margin-right: 9px;
        }
    }

    .renew {
        .hero-section {
            h1 {
                width: 40%
            }
        }
    }

}


@import 'Pages/home';

