@import 'Utils/fonts';
@import 'Utils/vars';

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    
    background-color: $blue;
    color: $black;
    font-family: "AmsiPro-Ultra";
    letter-spacing: 0.08rem;
}


h1,
.like-h1 {
    font-size: 4.6rem;
    font-weight: 900;
    line-height: 0.9;
    margin-bottom: 1rem;
}

h2,
.like-h2 {
    font-size: 3rem !important;
    color: $white !important;
    line-height: 1.2;
}

h3 {
    font-size: 3.2rem;
}


p {
    font-size: 2rem;
    color: $green;
}

.bg-pink {
    background-color: $pink;
}
.bg-round {
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 5rem;
        border-radius: 100%;
        top: -26px;
        z-index: -1;
    }
}

.button-pink {
    background: $pink;
    padding: 1rem 3.6rem;
    font-size: 1.8rem;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border-radius: 4rem;
    margin: 0 4%;
}

.text-blue4 {
    color: $blue4;
}

nav {
    
    .logo {
        z-index: 1111;
    }
    .offcanvas {
        background-color: transparent;
        border-bottom: 0;
        height: fit-content;
        top: 12%;
        .offcanvas-body {
            font-family: "AmsiPro-Ultra";
            .bg-pink,
            .bg-white {
                border-radius: 3rem;
                margin: 5%;
                padding: 2.5%;
            }
            .bg-pink {
                p {
                    color: $white;
                    
                }
            }
            .bg-white {
                a {
                    color: $blue2;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    margin: 0;
                    text-decoration: none;
                }
            }
            p {
                font-size: 1.6rem;
                text-transform: uppercase;
                margin: 0;
            }
            ul {
                line-height: 2.5;
                li {
                    list-style: none;
                    a {
                        font-size: 1.4rem;
                        color: $white;
                    }
                }
            }
        }
    }
}

main {
    .modal {
        background: $blue;
    }
    .modal-dialog {
        max-width: max-content;
        margin: 2rem;
        .modal-content {
            background: $blue2;
            border-radius: 2rem;
            height: 90%;
            box-shadow: 10px 9px 0px 2px $green2;
            .modal-header {
                justify-content: end;
                border: 0;
            }
            .modal-body {
                .video {
                    margin: 0 5%;
                    video {
                        border-radius: 2rem;
                    }
                }
                p {
                    color: $yellow;
                    font-size: 1.6rem;
                }
                img {
                    max-width: 9rem;
                }
            }
        }
    }
    .bg-round {
        &::before {
            content: '';
            background-color: $blue3;
        }
    }
    .bg-blue3 {
        background-color: $blue3;
        position: relative;
        padding-bottom: 5%;
    }
    .intro {
        padding-bottom: 10%;
    }
    
}

footer {
    background: $yellow;
    z-index: 1;
    line-height: 2.5;
    margin-bottom: -10px;
    .bg-round {
        z-index: 1;
        &::before {
            background-color: $yellow;
            z-index: -1;
        }
    }
    a {
        color: $green3;
        font-size: 1.5rem;
    }
    p {
        color: $green3;
        font-family: "AmsiProCondensed-Bold";
    }
}


@media (min-width: $break-lg) {
    .dropdown {
        .dropdown-menu {
            width: 100%;
            inset: -29px auto auto 0px !important;
            padding: 7% 2rem;
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;

        }
        .button-pink {
            font-size: 1.6rem;
            margin: 0;
            padding: 1rem 2rem;
            z-index: 1001;
            position: relative;
        }
        a {
            color: $white;
            font-size: 1.4rem;
        }
    }

    .button-blue {
        background: $blue2;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        display: inline-block;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        border-radius: 4rem;
        margin: 0;
        a {
            color: $white;
            text-decoration: none;
        }
    }

    .la-mif {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 55%;
        width: 45%;
    }
    .title {
        width: 65%;
    }
    .intro {
        width: 50%;
        margin-left: 5%;
    }
    main {
        padding-top: 10%;
        .modal-dialog {
            max-width: 90rem;
            margin: 5% auto;
            .modal-content {
                .modal-body {
                    img {
                        max-width: 14rem;
                    }
                    .content {
                        width: 80%;
                        p {
                            font-size: 2.2rem;
                        }
                    }
                }
            }
        }
    }
}
