@import 'Utils/fonts';
@import 'Utils/vars';

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    background-image: url(/CAchute/assets/img/fond-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -15%;
    background-color: $blue;
    color: $black;
    font-family: "AmsiPro-Ultra";
    letter-spacing: 0.08rem;
}

.line {
    position: relative;
    &::before {
        content: url(/CAchute/assets/img/icon-check-fifth.png);
        height: 2rem;
        width: 2rem;
        position: absolute;
    }
}

h1,
.like-h1 {
    font-size: 4.6rem;
    font-weight: 900;
    line-height: 0.9;
    margin-bottom: 1rem;
}

h2,
.like-h2 {
    font-size: 3rem !important;
    color: $white !important;
    line-height: 1.2;
}

h3 {
    font-size: 3.2rem;
}



p {
    font-size: 2rem;
    color: $green;
}
.check {
    &::before {
        content: "";
        width: 5rem;
        height: 5rem;
        position: absolute;
        bottom: 11%;
        right: 6%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        background-position: center center;
    }
    
}
.block {
    display: block !important;
}
.flex {
    display: flex !important;
}
.step {
    z-index: 1061;
    .container-line {
        position: relative;
        display: inline-block;
        img {
            height: 4rem;
            width: auto;
        }
        .check-icon {
            height: 3rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        #check-icon-first {
            left: 4%;
        }
        #check-icon-second {
            left: 20%;
        }
        #check-icon-third {
            left: 36%;
        }
        #check-icon-fourth {
            left: 52%;
        }
        #check-icon-fifth {
            left: 69%;
        }
        #check-icon-sixth {
            left: 85%;
        }
    }
}

.first {
    position: relative;
    .check {
        &::before {
            background-image: url(/CAchute/assets/img/icon-check-first.png);
        }
    }
}
.second {
    position: relative;
    .check {
        &::before {
            background-image: url(/CAchute/assets/img/icon-check-second.png);
        }
    }

}
.third {
    position: relative;
    .check {
        &::before {
            background-image: url(/CAchute/assets/img/icon-check-third.png);
        }
    }

}
.fourth {
    position: relative;
    .check {
        &::before {
            background-image: url(/CAchute/assets/img/icon-check-fourth.png);
        }
    }

}
.fifth {
    position: relative;
    .check {
        &::before {
            background-image: url(/CAchute/assets/img/icon-check-fifth.png);
        }
    }

}
.sixth {
    position: relative;
    .check {
        &::before {
            background-image: url(/CAchute/assets/img/icon-check-sixth.png);
        }
    }

}

.bg-pink {
    background-color: $pink;
}
.bg-blue {
    background-color: $blue2;
}
.bg-round {
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 5rem;
        border-radius: 100%;
        top: -26px;
        z-index: -1;
    }
}

.button-pink {
    background: $pink;
    padding: 1rem 3.6rem;
    font-size: 1.8rem;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border-radius: 4rem;
    margin: 0 4%;
    &:hover {
        color: $yellow;
    }
}

.text-blue4 {
    color: $blue4;
}

nav {
    
    .logo {
        z-index: 1111;
        img {
            height: 7rem;
        }
    }

    .offcanvas {
        background-color: transparent;
        border-bottom: 0;
        height: fit-content;
        top: 12%;
        .offcanvas-body {
            font-family: "AmsiPro-Ultra";
            .bg-pink,
            .bg-white {
                border-radius: 3rem;
                margin: 5%;
                padding: 2.5%;
            }
            .bg-pink {
                p {
                    color: $white;
                    
                }
            }
            .bg-white {
                a {
                    color: $blue2;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    margin: 0;
                    text-decoration: none;
                }
            }
            p {
                font-size: 1.6rem;
                text-transform: uppercase;
                margin: 0;
            }
            ul {
                line-height: 2.5;
                li {
                    list-style: none;
                    a {
                        font-size: 1.4rem;
                        color: $white;
                    }
                }
            }
        }
    }
}

main {
    .title {
        margin-top: 6rem;
    }
    .modal {
        background: $blue;
    }
    .modal-dialog {
        max-width: max-content;
        margin: 2rem;
        .arrow {
            position: fixed;
            top:40%;
            img {
                height: 3rem;
                width: auto;
            }
        }
        .arrow-left {
            left: 8%;

        }
        .arrow-right {

            right: 8%;

        }
        .modal-content {
            background: $blue2;
            border-radius: 2rem;
            height: 90%;
            box-shadow: 10px 9px 0px 2px $green2;
            .modal-header {
                justify-content: end;
                border: 0;
            }
            .modal-body {
                .video {
                    margin: 0 5%;
                    video {
                        border-radius: 2rem;
                    }
                }
                p {
                    color: $yellow;
                    font-size: 1.6rem;
                }
                img {
                    max-width: 9rem;
                }
            }
        }
    }
    .intro {
        padding-bottom: 10%;
    }

    .rotate-01 {
            &:hover {
                transform: rotate(2deg);
            }
            
        }
    .rotate-02 {
            &:hover {
                transform: rotate(-2deg);
            }
            
        }
    
}



footer {
    background: $yellow;
    z-index: 1;
    line-height: 2.5;
    margin-bottom: -10px;
    .bg-round {
        z-index: 1;
        &::before {
            background-color: $yellow;
            z-index: -1;
        }
    }
    a {
        color: $green3;
        font-size: 1.5rem;
        &:hover {
            color: $green3;
            text-decoration: none;
            transform: rotate(-2deg);
            &:nth-child(2) {
                transform: rotate(2deg);
            }
        }
    }
    p {
        color: $green3;
        font-family: "AmsiProCondensed-Bold";
    }
}

.legales,
.index {

    background-image: none;
}
.legales {
    background-color: $blue;
    color: $green3;
    h1, .like-h1 {
        font-size: 3.6rem;
    }
    p {
        color: $green3;
    }
    p,
    li {
        font-size: 1.5rem;

    }
    h2, .like-h2 {
        font-size: 2rem !important;
        color: $green3 !important;
    }
}

.index {
    background-color: $blue5;
    .text {
        p {

            color: $white;
        }

    }
    .dropdown-menu {
        background: $blue2;
    }
    
    #dropdownMenuLink {
        background: $blue2;
    }
    div.button-blue:nth-child(3) {
        background: $pink;
    }
    div.button-blue:nth-child(4) {
        background: $pink;
    }

}

@media (min-width: $break-sm) {
    body {
        background-position-y: 0;
    }
    main {
        .modal-dialog {

            .arrow-left {
                left: 4%;
            }
            .arrow-right {
                right: 4%;
            }
        }
    }
}


@media (min-width: $break-lg) {
    body {
        background-image: url(/CAchute/assets/img/fond-desktop.png);
        background-position-y: -68%;
    }

    .dropdown {
        .dropdown-menu {
            width: 100%;
            padding: 7% 2rem;
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            
        }
        &:hover .dropdown-menu {
            display: block;
            inset: 15px auto auto 0px !important;
            width: 100%;
            padding: 7% 2rem;
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }
        .button-pink {
            font-size: 1.6rem;
            margin: 0;
            padding: 1rem 2rem;
            z-index: 1001;
            position: relative;
        }
        a {
            color: $white;
            font-size: 1.4rem;
        }
    }
    
    .button-blue {
        background: $blue2;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        display: inline-block;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        border-radius: 4rem;
        margin: 0;
        a {
            color: $white;
            text-decoration: none;
            &:hover {
                color: $yellow;
            }
        }
    }
    
    .la-mif {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        width: 45%;
    }
    .title {
        width: 65%;
    }
    .intro {
        width: 50%;
        margin-left: 5%;
        p {
            padding-left: 11%;
            padding-right: 8%;
            line-height: 1.2;
        }
    }
    main {
        padding-top: 10%;
        .modal-dialog {
            max-width: 90rem;
            margin: 5% auto;
            .arrow {
                img {
                    height: 8rem;
                }
            }
            .arrow-left {
                left: 5%;
            }
            .arrow-right {
                right: 5%;
            }
            .modal-content {
                .modal-body {
                    padding: 0 5%;
                    img {
                        max-width: 14rem;
                    }
                    .content {
                        width: 80%;
                        p {
                            font-size: 2.2rem;
                        }
                    }
                }
            }
        }
    }

    .index {
        margin-top: -10rem;
    }
}

@media (min-width: $break-xl) {
    body {
        background-position-y: -30%;
    }
    main {

        .modal-dialog {
            .arrow-left {
                left: 10%;
            }
            .arrow-right {
                right: 10%;
            }
        }
        .title {
            margin-top: 0;
        }
    }
}