@charset "UTF-8";
@font-face {
  font-family: "NouvelR";
  src: url("./../fonts/NouvelR-Variable.woff2") format("woff2"), url("./../fonts/NouvelR-Variable.woff") format("woff2"), url("./../fonts/NouvelR-Variable.ttf") format("ttf");
}
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "NouvelR";
  background-color: #FFFFFF;
  color: #000000;
  overflow-x: hidden;
}

main {
  margin-top: 7rem;
}

h1,
.like-h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 1rem;
}

h2,
.like-h2 {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 900;
}

h3 {
  font-size: 2.8rem;
  font-weight: 900;
}

h1,
h2,
h3 {
  text-transform: lowercase;
}

p {
  font-size: 1.6rem;
}

ul li {
  position: relative;
  list-style: none;
}
ul li p {
  vertical-align: top;
  display: inline-block;
}

.stroke {
  text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

.stroke-white {
  text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97999px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.51361px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}

.stroke-l {
  text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989993px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756803px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279416px 0px;
}

.stroke-l-y {
  text-shadow: rgb(246, 234, 60) 1px 0px 0px, rgb(246, 234, 60) 0.540302px 0.841471px 0px, rgb(246, 234, 60) -0.416147px 0.909297px 0px, rgb(246, 234, 60) -0.989993px 0.14112px 0px, rgb(246, 234, 60) -0.653644px -0.756803px 0px, rgb(246, 234, 60) 0.283662px -0.958924px 0px, rgb(246, 234, 60) 0.96017px -0.279416px 0px;
}

.bg-black {
  background: #000000 !important;
}
.bg-black.btn-white {
  color: #000000;
}
.bg-black.btn-white:hover {
  color: #F2F2F2;
}

.bg-yellow {
  background: #FAEB68 !important;
}

.bg-yellow-2 {
  background: #FCF5BA !important;
}

.bg-yellow-3 {
  background: #FAF186 !important;
}

.bg-yellow-4 {
  background: #F6EA3C !important;
}

.bg-peach {
  background: #F8CFA1;
}

.bg-blue {
  background: #74BEC1 !important;
}

.bg-blue2 {
  background: #19B3D0;
}

.bg-pink {
  background: #F6CDD2;
}

.bg-pink-dark {
  background: #EB4591;
}

.bg-orange {
  background: #FEB730;
}

.bg-grey-blue {
  background: #929EA0;
}

.bg-grey-light {
  background: #F2F2F2 !important;
}

.text-black {
  color: #000000;
}

.text-y2 {
  color: #FCF5BA;
}

.text-y3 {
  color: #FAF186;
}

.text-y4 {
  color: #F6EA3C;
}

.btn {
  border-radius: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 4rem;
}

.btn-white {
  background: #FFFFFF;
  color: #000000;
}
.btn-white:hover, .btn-white:focus {
  background: #000000;
  color: #FFFFFF;
}

.btn-black {
  border: #FFFFFF 0.1rem solid;
  background: #000000;
  color: #FFFFFF;
}
.btn-black:hover, .btn-black:focus {
  background: #FFFFFF;
  color: #000000;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.draw {
  position: relative;
  padding-left: 5rem;
  padding-right: 2%;
  display: inline;
}
.draw::before {
  position: absolute;
  content: "";
  width: 4rem;
  height: 0.2rem;
  background-color: #000000;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.draw::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 0.2rem;
  background-color: #000000;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
}
.draw.draw-white::before {
  background-color: #FFFFFF;
}
.draw.draw-white::after {
  background-color: #FFFFFF;
}

header {
  background-color: #000000;
}

.navbar {
  padding-bottom: 0;
}
.navbar img {
  max-height: 4rem;
}
.navbar .navbar-nav {
  margin-top: 1.8rem;
  line-height: 2;
}
.navbar .navbar-nav .nav-link {
  color: #FFFFFF;
  font-size: 1.5rem;
}
.navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:hover {
  color: #F2F2F2;
}
.navbar .navbar-nav .disabled {
  color: #F2F2F2;
}
.navbar .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}
.navbar .navbar-nav .dropdown .dropdown-menu {
  animation: scale-up-ver-top 0.2s ease-in-out both;
  padding: 0;
}
.navbar .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  text-transform: uppercase;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.hero-section {
  background-size: cover;
  background-position: center center;
}

.home .hero-section,
.identite .hero-section {
  background-image: url(./../img/bg-home-2.jpg);
}

.carousel-item,
.carousel-item-start,
.carousel-item-end {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

.home .parallax {
  background-image: url(./../img/bg-home.png);
}
.home .home-header {
  height: 75vh;
}
.home .home-header .container {
  height: 50rem;
}
.home .home-header .container .content {
  padding: 5% 5% 5% 0;
}
.home .carousel img {
  max-height: 50rem;
  width: auto;
  max-width: 45rem;
}
.home .carousel-control-next,
.home .carousel-control-prev {
  top: 0;
  top: -2rem;
}
.home .carousel-control-next-icon,
.home .carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
}

.identite .hero-section {
  position: relative;
}
.identite .hero-section::after {
  position: absolute;
  content: "";
  width: 66%;
  height: 2rem;
  background-color: #F3D800;
  bottom: -2rem;
}
.identite .hero-section .content ul {
  padding-left: 5rem;
}
.identite .hero-section .content ul li::before {
  content: url(./../img/icon-check.svg);
}
.identite .chrono p {
  margin: 0;
}
.identite .chrono .date {
  width: 10%;
  text-align: center;
  background: #000000;
  color: #FFFFFF;
  padding: 5% 0;
}
.identite .chrono .p-10 {
  padding: 11% 0 !important;
}
.identite .chrono .p-15 {
  padding: 15% 0 !important;
}
.identite .chrono .p-30 {
  padding: 32% 0 !important;
}
.identite .chrono .photo,
.identite .chrono .description {
  width: 45%;
}
.identite .chrono .description {
  border: solid black;
  padding: 1rem 2rem;
  border-left: 0;
  position: relative;
}
.identite .chrono .description.droite::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #000000;
  top: 50%;
  transform: translateY(-50%);
  left: -1%;
}
.identite .chrono .description.gauche {
  border-left: solid #000000;
  border-right: 0;
}
.identite .chrono .description.gauche::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #000000 transparent transparent;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.identite .bg-black h3 {
  font-size: 3.2rem;
}
.identite .bg-black ul li {
  position: relative;
}
.identite .bg-black ul li p {
  margin-left: 8%;
}
.identite .bg-black ul li::before {
  content: url(./../img/icon-check.svg);
  position: absolute;
  top: 5%;
}
.identite table {
  border-collapse: unset;
}
.identite table tr {
  vertical-align: middle;
}
.identite table tr:first-of-type th {
  padding: 3rem;
  background-size: cover;
  background-position: center bottom;
}
.identite table tr:first-of-type th:nth-child(2) {
  background-image: url(./../img/fond-noir-tableau.png);
}
.identite table tr:first-of-type th:nth-child(3) {
  background-image: url(./../img/Composant\ 17\ –\ 1.png);
}
.identite table tr:first-of-type th:nth-child(4) {
  background-image: url(./../img/fond-bleu-tableau.png);
}
.identite table tr:first-of-type th:nth-child(5) {
  background-image: url(./../img/fond-jaune-tableau.png);
}
.identite table tr img {
  height: 10rem;
}
.identite table tr td {
  text-align: center;
  padding: 4rem 3rem;
  width: 20%;
  min-width: 20rem;
  border: 0;
}
.identite table tr td p {
  font-size: 1.8rem;
  margin: 0;
}
.identite table tr td:nth-child(1) {
  text-align: left;
  text-transform: lowercase;
}
.identite table tr td:nth-child(3) {
  border: solid #000000 0.1rem;
}
.identite table tr th {
  width: 20%;
  border: 0;
  text-align: center;
}
.identite table tr th p {
  font-size: 1.8rem;
}

.identite-3 li::before {
  position: absolute;
  left: -2.5rem;
  content: url(./../img/icon-check-black.svg);
}

.container-enjeux {
  padding: 4rem 0;
}
.container-enjeux img {
  margin-top: -15%;
}
.container-enjeux .card-enjeux {
  border-radius: 1rem;
  position: relative;
  margin-left: 12%;
}
.container-enjeux .card-enjeux::before {
  content: "";
  position: absolute;
  background-image: url(../img/fleche.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 15rem;
  height: 28rem;
  top: 12rem;
  left: -15%;
  transform: translateY(-50%);
}
.container-enjeux .card-enjeux.bg-white .enjeux {
  border-bottom: 0.2rem solid #000000;
}
.container-enjeux .card-enjeux .enjeux {
  padding: 1rem 2rem 1rem 10rem;
  border-bottom: 0.2rem solid #FFFFFF;
}
.container-enjeux .card-enjeux .enjeux.no-border {
  border-bottom: none;
}

.logo-left,
.logo-right {
  position: relative;
}
.logo-left::after,
.logo-right::after {
  position: absolute;
  content: "";
  width: 35rem;
  height: 50rem;
  background-image: url(../img/logo-renault.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  left: -45%;
}

.logo-right::after {
  left: auto;
  right: -50%;
}

.timeline {
  padding-left: 6rem;
  position: relative;
}
.timeline::before {
  position: absolute;
  content: "";
  width: 4rem;
  height: 88%;
  left: 0;
  background-color: #6E7576;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  transform: translateY(-50%);
  top: 50%;
}
.timeline .yellow-point {
  position: relative;
}
.timeline .yellow-point::before {
  position: absolute;
  content: "";
  width: 4rem;
  height: 4rem;
  background-image: url(../img/yellow-point.png);
  background-size: cover;
  left: -6rem;
  top: 34%;
  transform: translateY(-50%);
}
.timeline .yellow-point#first::before {
  top: 23%;
}
.timeline .yellow-point.row::before {
  background: none;
}

.chrono .date {
  font-size: 4rem;
  font-weight: 700;
}
.chrono .title {
  font-size: 3.2rem;
  font-weight: 700;
}
.chrono .bg-yellow-2,
.chrono .bg-yellow-3,
.chrono .bg-yellow-4 {
  position: relative;
}
.chrono .bg-yellow-2::after,
.chrono .bg-yellow-3::after,
.chrono .bg-yellow-4::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 70%;
  background-image: url(../img/triangle-1.svg);
  background-size: contain;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  z-index: 1;
}
.chrono .bg-yellow-3,
.chrono .bg-yellow-4,
.chrono .bg-black {
  padding-top: 20%;
}
.chrono .bg-yellow-3::after,
.chrono .bg-yellow-4::after,
.chrono .bg-black::after {
  background-image: url(../img/triangle-2.svg);
}
.chrono .bg-yellow-4::after {
  background-image: url(../img/triangle-3.svg);
}

.location img {
  width: 15rem;
  margin-bottom: 2rem;
}

#carouselRS img {
  padding: 10rem;
}
#carouselRS .carousel-control-next-icon {
  transform: rotate(180deg);
}
#carouselRS .carousel-control-next-icon,
#carouselRS .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMzMuOTQ1IiBoZWlnaHQ9IjEyOC45MTQiIHZpZXdCb3g9IjAgMCAxMzMuOTQ1IDEyOC45MTQiPjxwYXRoIGQ9Ik01MS41NDMsMGw1MS41NDMsODkuMzQxSDBaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0NC42Nykgcm90YXRlKDMwKSIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==");
  width: 5rem;
  height: 5rem;
}

#carouselRS2 .btn {
  border: 0.2rem solid black;
}
#carouselRS2 img {
  padding: 7rem;
}
#carouselRS2 .carousel-control-next-icon {
  transform: rotate(180deg);
}
#carouselRS2 .carousel-control-next-icon,
#carouselRS2 .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3NC4xMDkiIGhlaWdodD0iNzEuMjc0IiB2aWV3Qm94PSIwIDAgNzQuMTA5IDcxLjI3NCI+PHBhdGggZD0iTTI4LjU0MywwLDU3LjA4Niw0OS4zNDFIMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDI0LjY3MSkgcm90YXRlKDMwKSIvPjwvc3ZnPg==");
  width: 5rem;
  height: 5rem;
}

footer {
  font-size: 1.4rem;
  border-top: #FFFFFF solid;
  font-weight: bold;
}
footer a {
  text-decoration: none;
}
footer a:focus, footer a:hover {
  color: #F2F2F2;
}
footer p {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .container-enjeux .card-enjeux {
    margin-left: 24%;
    margin-right: 2%;
  }
  .container-enjeux .card-enjeux::before {
    z-index: 2;
    width: 22rem;
    height: 50rem;
    top: 9rem;
    left: -34%;
  }
  .container-enjeux.number1 .card-enjeux::before {
    background-image: url(../img/enjeux-1.png);
  }
}
@media (min-width: 992px) {
  h1,
  .like-h1 {
    font-size: 8rem;
  }
  h2,
  .like-h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  p {
    font-size: 2.5rem;
  }
  .mr-15 {
    margin-right: 15%;
  }
  .navbar .navbar-nav {
    line-height: 1.5;
  }
  .navbar .navbar-nav .nav-link {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .navbar .navbar-nav .dropdown .dropdown-toggle {
    margin-bottom: 11%;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu {
    top: 4.3rem;
    min-width: 100%;
    border: 0;
    border-radius: 0;
    margin-top: 0;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu li {
    border-bottom: solid #F2F2F2 0.1rem;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu li:last-child {
    border-bottom: 0;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu li .dropdown-item {
    font-size: 1.2rem;
    background-color: #FFFFFF !important;
    color: #000000 !important;
  }
  .navbar .navbar-nav .dropdown .dropdown-menu li .dropdown-item:focus, .navbar .navbar-nav .dropdown .dropdown-menu li .dropdown-item:hover {
    background-color: #F2F2F2 !important;
  }
  .parallax {
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .home {
    padding-top: 0;
  }
  .home h1,
  .home .like-h1 {
    width: 100%;
  }
  .home .home-header {
    height: 100vh;
  }
  .home .first-section img {
    max-width: 50rem;
  }
  .home .second-section .content {
    width: 40%;
    padding-top: 15rem !important;
    padding-bottom: 15rem !important;
  }
  .home .third-section h2 {
    width: 50%;
  }
  .home .carousel .carousel-inner {
    height: 55rem;
  }
  .home .carousel .content {
    width: 50%;
  }
  .home .carousel .content-left {
    margin-left: 10%;
  }
  .home .carousel .content-right {
    margin-right: 10%;
  }
  .home .carousel .image {
    margin-left: 10%;
  }
  .identite .hero-section .content h2 {
    width: 60%;
  }
  .identite .chrono p {
    font-size: 3.2rem;
  }
  .identite .chrono .description {
    padding: 2rem 3rem;
  }
  .identite .chrono .description.droite::after {
    left: 0;
  }
  .identite .chrono .date {
    padding: 5% 0;
  }
  .identite .chrono .p-10 {
    padding: 5% 0 !important;
  }
  .identite .chrono .p-30 {
    padding: 14% 0 !important;
  }
  .objectifs .like-h1 {
    width: 80%;
  }
  .objectifs .content p {
    width: 33%;
  }
  .container-enjeux .card-enjeux {
    margin-left: 18%;
    margin-right: 38%;
  }
  .container-enjeux .card-enjeux::before {
    left: -32%;
  }
  .timeline {
    padding: 0;
  }
  .timeline::before {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .timeline .yellow-point::before {
    top: 34%;
    transform: translateY(-50%);
  }
  .timeline .yellow-point#first::before, .timeline .yellow-point#third::before {
    right: -2rem;
    left: auto;
  }
  .timeline .yellow-point#second::before, .timeline .yellow-point#fourth::before {
    left: -2rem;
  }
  .timeline .yellow-point.row::before {
    background: none;
  }
  #carouselRS2 img {
    padding: 7rem 30rem 7rem 30rem;
  }
  #carouselRS2 .carousel-control-next-icon,
  #carouselRS2 .carousel-control-prev-icon {
    position: absolute;
    top: 30%;
  }
  #carouselRS2 .carousel-control-next-icon {
    left: -100%;
  }
  #carouselRS2 .carousel-control-prev-icon {
    right: -100%;
  }
  .text-carousel {
    position: absolute;
    width: 30%;
    font-size: 1.8rem;
  }
  .text-carousel.top-left {
    top: 12%;
    left: -2%;
    text-align: end;
  }
  .text-carousel.bottom-left {
    bottom: 26%;
    left: -2%;
    text-align: end;
  }
  .text-carousel.top-right {
    top: 12%;
    right: -2%;
  }
  .text-carousel.bottom-right {
    bottom: 26%;
    right: -2%;
  }
}
@media (min-width: 1200px) {
  .draw {
    position: relative;
    padding-left: 11rem;
    padding-right: 2%;
    display: inline;
  }
  .draw::before {
    position: absolute;
    content: "";
    width: 10rem;
    height: 0.2rem;
    background-color: black;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .draw::after {
    position: absolute;
    content: "";
    width: 60%;
    height: 0.2rem;
    background-color: black;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
  }
  .container-enjeux .card-enjeux {
    margin-right: 50%;
  }
  .container-enjeux .card-enjeux::before {
    left: -37%;
  }
  .chrono p {
    font-size: 2rem;
  }
  .chrono .bg-yellow-2,
  .chrono .bg-yellow-3,
  .chrono .bg-yellow-4 {
    position: relative;
  }
  .chrono .bg-yellow-2::after,
  .chrono .bg-yellow-3::after,
  .chrono .bg-yellow-4::after {
    width: 100%;
    height: 100%;
    background-image: url(../img/triangle-1d.svg);
    top: 0;
    left: auto;
    transform: translateX(0);
    z-index: 1;
    right: -100%;
  }
  .chrono .bg-yellow-3,
  .chrono .bg-yellow-4,
  .chrono .bg-black {
    padding-top: 0;
    padding-left: 5%;
  }
  .chrono .bg-yellow-3::after,
  .chrono .bg-yellow-4::after,
  .chrono .bg-black::after {
    background-image: url(../img/triangle-2d.svg);
  }
  .chrono .bg-yellow-4::after {
    background-image: url(../img/triangle-3d.svg);
  }
  #carouselRS2 .carousel-control-next-icon {
    left: -70%;
  }
  #carouselRS2 .carousel-control-prev-icon {
    right: -70%;
  }
  .text-carousel {
    width: 24%;
  }
  .text-carousel.top-left {
    left: 0;
  }
  .text-carousel.bottom-left {
    left: 0;
  }
  .text-carousel.top-right {
    right: 0;
  }
  .text-carousel.bottom-right {
    right: 0;
  }
}
@media (min-width: 1400px) {
  .chrono .bg-yellow-3,
  .chrono .bg-yellow-4,
  .chrono .bg-black {
    padding-left: 8%;
  }
  #carouselRS2 .carousel-control-next-icon {
    left: -50%;
  }
  #carouselRS2 .carousel-control-prev-icon {
    right: -50%;
  }
  .text-carousel {
    font-size: 2.5rem;
    width: 24%;
  }
  .text-carousel.top-left {
    left: -3%;
    top: 7%;
  }
  .text-carousel.bottom-left {
    left: -3%;
  }
  .text-carousel.top-right {
    right: -3%;
    top: 7%;
  }
  .text-carousel.bottom-right {
    right: -3%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}/*# sourceMappingURL=main.css.map */